footer.footer
            .wrapper
                .footer__content
                    .footer__left
                        .footer__contact
                            span Contact us
                        .footer__line
                        
                    .footer__right

                            a(href="#").footer__blockitem
                                .footer__icn.footer__icn_phone
                                    svg
                                        use(xlink:href="./images/sprite/sprite.svg#phone")
                                .footer__text
                                    span +1 (123) 456-78-90

                            a(href="#").footer__blockitem
                                .footer__icn.footer__icn_mail
                                    svg
                                        use(xlink:href="./images/sprite/sprite.svg#mail")
                                .footer__text
                                    span info@company.com

                            a(href="#").footer__blockitem
                                .footer__icn.footer__icn_skype
                                    svg
                                        use(xlink:href="./images/sprite/sprite.svg#skype")
                                .footer__text
                                    span company_skype