.block5{
    background-image: url(../images/Rectangle.svg);
    width: rem(485.7);
    height: rem(123);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: rem(56);
    margin-top: rem(10);
    display: flex;
    align-items: center;
    cursor: pointer;
    grid-area: block5;

    span{
        font-weight: 700;
        line-height: rem(44);
        font-size: rem(31);
        color: $white;
    }
}


@media screen and (max-width:1025px){
    .block5{
        width: 100%;
    }
}


@media screen and (max-width:769px){
    .block5{
        height: 65px;
        span{
            font-size: 16px;
        }
    }
}